In [1]:
import pandas as pd

In [2]:
# load the raw data
df = pd.read_csv('data.txt',delimiter='\t',skiprows=1)

In [3]:
# check out how it looks like
df.head()

,#stöð,ár,mán,t,tx,txx,txxD1,tn,tnn,tnnD1,rh,r,rx,rxD1,p,n,sun,f
0,1,1949,1,-2.7,0.5,6.6,9,-6.8,-15.2,12,81.0,68.8,9.6,25,996.7,6.0,18.1,8.5
1,1,1949,2,0.0,2.5,7.8,6,-2.5,-7.5,27,87.0,80.0,8.3,16,989.0,6.7,25.1,9.2
2,1,1949,3,0.1,2.8,7.4,4,-2.9,-14.3,14,86.0,58.7,8.4,5,1010.4,5.9,106.6,5.9
3,1,1949,4,-0.0,3.1,6.6,2,-2.9,-8.9,21,77.0,51.8,17.8,18,1000.2,5.8,134.7,7.4
4,1,1949,5,3.6,7.2,13.0,22,0.3,-5.0,5,70.0,27.9,5.5,12,1014.8,5.1,243.2,6.9

In [4]:
# get the column names
df.columns

Index(['#stöð', ' ár', 'mán', '  t', '  tx', '  txx', 'txxD1', '  tn', ' tnn',
       'tnnD1', ' rh', ' r', ' rx', 'rxD1', ' p', ' n', 'sun', ' f'],
      dtype='object')

In [5]:
# we're only interested in dates and temperatures
df = df[[' ár','mán','  t']]

In [6]:
# how does it look like now?
df.head()

     ár  mán    t
0  1949    1 -2.7
1  1949    2  0.0
2  1949    3  0.1
3  1949    4 -0.0
4  1949    5  3.6

In [7]:
# change the column names to english
df.columns = ['year','month','temp']

In [8]:
# we want a single column with date
# we need a specific day of the month so we just use DAY=1
df['date'] = pd.to_datetime(df[['year','month']].assign(DAY=1))

In [9]:
# we can drop month and year columns now
df.drop(['year','month'],axis=1,inplace=True)

In [10]:
# set the date as index
df.set_index('date',inplace=True)

In [11]:
# does it look like how we want it?
df.head()

            temp
date
1949-01-01  -2.7
1949-02-01   0.0
1949-03-01   0.1
1949-04-01  -0.0
1949-05-01   3.6

In [18]:
# save it as a new csv file
df.to_csv('reykjavik_temperature_data.csv')

In [19]:
# we can now read in the data like this
#df = pd.read_csv('reykjavik_temperature_data.csv',index_col='date')